:root {
  --main-bg-color: rgb(35, 35, 35);
  --main-text-color: #f9faffde;
  --shadow-color: #858ebc;
}

html {
  display: block;
  width: 100%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  height: 100vh;
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
  text-shadow: var(--shadow-color) -2px 2px 8px;
  writing-mode: vertical-rl;
}

#container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
}

a {
  display: block;
  font-size: 48px;
  line-height: 26px;
  /* -webkit-box-reflect: right; */
  position: absolute;
  cursor: pointer;
  /* margin: 2px; */
}

/* a:hover, a:visited {
  -webkit-box-reflect: unset;
  color: rgb(0, 255, 0);
  transform: none;
  font-size: 20px;
} */