:root {
  --main-bg-color: rgb(35, 35, 35);
  --main-text-color: #f9faffde;
  --shadow-color: #858ebc;
}

body {
  width: 100vw;
  height: 100vh;
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
  text-shadow: var(--shadow-color) -2px 2px 8px;
}

#container {
  /* writing-mode: vertical-rl; */
}

p {
  position: absolute;
  font-size: 24px;
}

span {
  position: absolute;
}